<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% content_for :meta, "<meta refinerycms='#{Refinery.version}' />".html_safe %>
  <%= render 'refinery/admin/head' %>
  <body class="<%= action_name %> <%= I18n.locale %>">
    <div id='tooltip_container'></div>
    <%= render '/refinery/site_bar' %>

    <div id="navigation">
      <%= render 'refinery/admin/menu' %>
    </div>

    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>